allow-build-scripts=@whiskeysockets/baileys,sharp,esbuild,protobufjs,fs-ext,node-pty,@lydell/node-pty,@matrix-org/matrix-sdk-crypto-nodejs

# CNB npm registry (发布用)
//npm.cnb.cool/mugglezack/openclaw-cb/-/packages/:_authToken=${CNB_NPM_TOKEN}
